<div class="container text-white">
  <nav class="navbar navbar-expand-md navbar-light bg-transparent">
    
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav w-100 text-danger justify-content-center">
            <a href="/" class="main nav-item nav-link active text-danger" style="padding-right: 3vw;">Home</a>
            <a href="/portfolio" class="main nav-item nav-link text-danger" style="padding-right: 3vw;">Portfolio</a>
            <a href="/contact" class="main nav-item nav-link text-danger">Contact</a>
        </div>
    </div>
  </nav>
</div>